.w-100 {
	width: 100% !important;
}
#wc-c2pisoa-form input, #wc-c2pisoa-form select {
	width: 100% !important
}
#wc-accisoa-form input, #wc-accisoa-form select {
	width: 100% !important
}
#wc-dbiisoa-form input, #wc-dbiisoa-form select {
	width: 100% !important
}
#wc-tdcisoa-form input, #wc-tdcisoa-form select {
	width: 100% !important
}